name: Update Profile Assets

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Dr1mH4X
          template: classic
          base: activity, community, metadata
          config_timezone: Asia/Shanghai
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          filename: github-metrics.svg

  snake-animation:
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake Animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            github-contribution-grid-snake.svg
            github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Pull latest changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git pull origin main --rebase

      - name: Push Snake assets to main
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update snake animation assets"
          file_pattern: 'github-contribution-grid-snake*.svg'
