name: Update Profile Assets

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-profile-assets:
    runs-on: self-hosted
    permissions:
      contents: write
    timeout-minutes: 20

    steps:
      - name: Prepare directory
        run: |
          rm -rf dist
          mkdir -p dist

      - name: Generate Snake Animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Dr1mH4X
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Asia/Shanghai
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          filename: github-metrics.svg

      - name: Move metrics to dist
        run: mv github-metrics.svg dist/

      - name: Push assets to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
          keep_history: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
